- model_class = Message
.page-header
  h1= t '.title', :default => model_class.model_name.human.pluralize.titleize
table.table.table-striped
  thead
    tr
      th= model_class.human_attribute_name(:id)
      th= model_class.human_attribute_name(:name)
      th= model_class.human_attribute_name(:email)
      th= model_class.human_attribute_name(:subject)
      th= model_class.human_attribute_name(:content)
      th= t '.actions', :default => t("helpers.actions")
  tbody
    - @messages.each do |message|
      tr
        td= message.id
        td= message.name
        td= message.email
        td= message.subject
        td= message.content
        td
          = link_to t('.destroy', :default => t("helpers.links.destroy")), message_path(message), :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-xs btn-danger'

