h1 New message
br
br
= form_for @message, html: {class: "form-horizontal message", role: "form"} do |f|
  - if @message.errors.any?
    #error_expl.panel.panel-danger
      .panel-heading
        h3.panel-title
          = pluralize(@message.errors.count, "error")
          | prohibited this message from being saved:
      .panel-body
        ul
          - @message.errors.full_messages.each do |msg|
            li= msg
            
  .control-group
    = f.label :name, class: 'control-label'
    .controls
      = f.text_field :name, class: 'form-control', placeholder: "Enter name"
  .control-group
    = f.label :email, class: 'control-label'
    .controls
      = f.text_field :email, class: 'form-control', placeholder: "Enter email"
  .control-group
    = f.label :subject, class: 'control-label'
    .controls
      = f.text_field :subject, class: 'form-control', placeholder: "Enter subject"
  .control-group
    = f.label :content, class: 'control-label'
    .controls
      = f.text_area :content, class: 'form-control', placeholder: "Enter content"
  br
  .control-group
    .controls
      button.btn.btn-default class = "form-control btn-info" type="submit"  Send
