doctype html
html lang="en" 
  head
    meta charset="utf-8" 
      meta content="IE=Edge,chrome=1" http-equiv="X-UA-Compatible" 
        meta content="width=device-width, initial-scale=1.0" name="viewport" 
          title= content_for?(:title) ? yield(:title) : "Commpeak Test"
          = csrf_meta_tags
          /! Le HTML5 shim, for IE6-8 support of HTML elements
          /![if lt IE 9]
            | <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.1/html5shiv.js" type="text/javascript"></script
          = stylesheet_link_tag "application", :media => "all"
          /! For third-generation iPad with high-resolution Retina display:
          /! Size should be 144 x 144 pixels
          = favicon_link_tag 'apple-touch-icon-144x144-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '144x144'
          /! For iPhone with high-resolution Retina display:
          /! Size should be 114 x 114 pixels
          = favicon_link_tag 'apple-touch-icon-114x114-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '114x114'
          /! For first- and second-generation iPad:
          /! Size should be 72 x 72 pixels
          = favicon_link_tag 'apple-touch-icon-72x72-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '72x72'
          /! For non-Retina iPhone, iPod Touch, and Android 2.1+ devices:
          /! Size should be 57 x 57 pixels
          = favicon_link_tag 'apple-touch-icon-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png'
          /! For all other devices
          /! Size should be 32 x 32 pixels
          = favicon_link_tag 'favicon.ico', :rel => 'shortcut icon'
          = javascript_include_tag "application"
  body
    .navbar.navbar-default.navbar-static-top
      .container
        button.navbar-toggle data-target=".navbar-responsive-collapse" data-toggle="collapse" type="button" 
          span.icon-bar
          span.icon-bar
          span.icon-bar
        a.navbar-brand href="#"  
          = image_tag 'logo.png', alt: 'Commpeak', height: '30px' 
        .navbar-collapse.collapse.navbar-responsive-collapse
          ul.nav.navbar-nav
            li= link_to "New Message", root_path
          ul.nav.navbar-nav
            li= link_to "All Messages", messages_path
          ul.nav.navbar-nav
            li= link_to "Export data!", export_to_db_messages_path
    .container
      .row
        .col-lg-9
          = bootstrap_flash
          = yield
        .col-lg-3
          .well.sidebar-nav
            h3 Sidebar
            ul.nav.nav-list
              li.nav-header Sidebar
              li= link_to "Main", "/"
          /! /.well
        /! /span
      /! /row
      br
        br
          footer
            p &copy; Company 2014
    /! /container
